<header class="app-header navbar">
  <button toxMobileSidebarToggler class="navbar-toggler hidden-lg-up" type="button">&#9776;</button>
  <a class="navbar-brand" href="#"></a>
  <ul class="nav navbar-nav hidden-md-down">
    <li class="nav-item">
      <a toxSidebarToggler class="nav-link navbar-toggler" href="#">&#9776;</a>
    </li>
  </ul>
</header>

<div class="app-body">
  <div class="sidebar">
    <nav class="sidebar-nav">
      <ul class="nav">
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" [routerLink]="['/dashboard']">
            <i class="icon-speedometer"></i> Dashboard <span class="badge badge-success">NEW</span>
          </a>
        </li>
        <li class="divider"></li>
        <li class="nav-title">
          Offer Management
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" [routerLink]="['/offersetups']">
            <i class="icon-settings"></i> Setups <span class="badge badge-success">NEW</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" [routerLink]="['/offertemplates']">
            <i class="icon-puzzle"></i> Templates <span class="badge badge-info">SOON</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" [routerLink]="['/offerteasers']">
            <i class="icon-present"></i> Teaser <span class="badge badge-info">SOON</span>
          </a>
        </li>
      </ul>
    </nav>
  </div>

  <!-- Main content -->
  <main class="main">

    <!-- Breadcrumb -->
    <ol class="breadcrumb">
      <tox-breadcrumbs></tox-breadcrumbs>
    </ol>

    <div class="container-fluid">
      <router-outlet></router-outlet>
    </div>
    <!-- /.conainer-fluid -->
  </main>
</div>

<footer class="app-footer">
  footer left
  <span class="float-right">footer right</span>
  <!--<a href="https://genesisui.com">SimpliQ</a> &copy; 2017 creativeLabs.-->
  <!--<span class="float-right">Powered by <a href="https://genesisui.com">GenesisUI</a>-->
    <!--</span>-->
</footer>
